#img1{
    float: right;
    height: 20%;
    width: 30%;
}
#img2{
    height: 30%;
    width: 30%;
    float: left;
}
h3{
    color:#ffee05;
}
p{
    text-align: justify;
    display: flex;
}
#videoLisa{
    border-radius: 10px;
}